"*":
  core:
    ignoredNames: [
      "*.pyc"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "solarized-light-syntax"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "5ca651a7-3321-55e3-6020-1867c7255e3a"
  metrics:
    userId: "d435f2d1dc136e23956435523392d760e9f5152d"
  "release-notes":
    viewedVersion: "0.84.0"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnlyLines: true
